<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Produk Saya</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 14px" mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari produk"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div class="item-centered" *ngIf="!loading && listProdukInfinite.length == 0">
          <img src="./assets/icon/pencarian.svg">
          <ion-label>
            <p>Data tidak ditemukan</p>
          </ion-label>
        </div>

        <ion-row class="ion-no-padding" *ngIf="!loading">
          <ion-col size="6" *ngFor="let n of listProdukInfinite">
            <ion-card class="rounded-15" [routerLink]="['/produk-mu/tambah-produk', n.id]">
              <img src="{{n.images.length == 0 ? './assets/imgs/no-product.png':(serverImg+n.images[0])}}" class="object-bg" style="height: 150px;">
              <ion-card-content>
                <ion-label>
                  <ion-chip *ngIf="n.verified == 0" color="danger">
                    <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
                    <ion-label>Data Belum di Verifikasi</ion-label>
                  </ion-chip>
                  <ion-text color="primary">
                    <h2>{{n.name}}</h2>
                  </ion-text>
                  <!-- <ion-text color="medium">
                    <p class="text-elipsis" [innerHTML]="n.descriptions"><p>
                  </ion-text> -->
                </ion-label>
                <h2 style="margin-top: 20px;">Rp.{{n.price | number:'1.0-0'}}</h2>
                <ion-text color="medium" *ngIf="userData.role == 'superadmin'">
                  <p>{{users[n.created_by] == undefined ? '':'Dibuat Oleh: '+users[n.created_by].name}}<p>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding" *ngIf="loading">
          <ion-col size="6" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
            <ion-card class="rounded-15">
              <ion-card-content>
                <ion-skeleton-text animated style="height: 60px;"></ion-skeleton-text>
                <ion-label>
                  <ion-text color="primary">
                    <h2><ion-skeleton-text animated></ion-skeleton-text></h2>
                  </ion-text>
                  <ion-text color="medium">
                    <p class="text-elipsis"><ion-skeleton-text animated></ion-skeleton-text><p>
                  </ion-text>
                </ion-label>
                <h2 style="margin-top: 20px;"><ion-skeleton-text animated></ion-skeleton-text></h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="margin-top: 100px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/produk-mu/tambah-produk/0']">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
