<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center">{{isCreated ? 'Tambah':'Perbarui'}} Pengajian</ion-title>
    <ion-buttons slot="end" *ngIf="!isCreated">
      <ion-button (click)="delete()" fill="clear">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="done()" fill="clear" *ngIf="pengajianData.status == 'soon'">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div class="ion-padding">

          <ion-text color="medium">Nama Pengajian</ion-text>
          <ion-item lines="none" class="input">
            <ion-input [(ngModel)]="pengajianData.name" required #name="ngModel" placeholder="Pengajian name"></ion-input>
          </ion-item>

          <ion-text color="medium">Deskripsi pengajian</ion-text>
          <ion-item lines="none" class="input">
            <ion-textarea [(ngModel)]="pengajianData.descriptions" required #descriptions="ngModel" placeholder="Pengajian descriptions" rows="4" cols="20"></ion-textarea>
          </ion-item>

          <ion-text color="medium">Tanggal dan Jam Pengajian</ion-text>
          <ion-item lines="none" class="input" button="true" id="open-date-input">
            <ion-label>Tanggal:Jam</ion-label>
            <ion-text slot="end">{{ dateValue }}</ion-text>
            <ion-popover trigger="open-date-input" show-backdrop="false">
              <ng-template>
                <ion-datetime
                  #popoverDatetime
                  presentation="time-date"
                  (ionChange)="dateValue = formatDate(popoverDatetime.value)"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-text color="medium">Lokasi Lengkap</ion-text>
          <ion-item lines="none" class="input">
            <ion-textarea [(ngModel)]="pengajianData.location" required #location="ngModel" placeholder="Pengajian location" rows="4" cols="20"></ion-textarea>
          </ion-item>

          <ion-text color="medium">Pin Lokasi</ion-text>
          <ion-item lines="none" class="input">
            <ion-label>
              <ion-text color="primary">
                <p class="ion-text-wrap">{{detailLocSelected == undefined ? '':detailLocSelected.display_name}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
          <div id="map" style="width: auto; height: 300px;"></div>
          <div id="info">&nbsp;</div>
          <div id="geolocation"></div>
          <div style="margin-top: 100px;"></div>

          <div class="footer">
            <ion-button color="primary" expand="block" [disabled]="loading" (click)="save()">
              {{loading ? 'Mohon tunggu...':'Simpan'}}
            </ion-button>
          </div>


        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
