<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center">Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/profil/edit-profil">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="userData != undefined" class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div class="bg-primary"></div>
        <div class="ion-padding">
            <ion-row class="card-profil">
              <ion-col class="ion-text-center">
                <img src="{{userData.image == null ? './assets/imgs/blank-profil.png':(serverImg+userData.image)}}" class="img-profil">
                <ion-label>
                  <h2>{{userData.name}}</h2>
                  <p>{{userData.phone}}</p>
                </ion-label>
                <ion-chip color="warning" *ngIf="userData.asManagement == '1' && userData.statusAsManagement == 'pending'">
                  <ion-label>
                    Pending <br>
                    <p>{{userData.placeManagement == 'daerah' ? userData.daerah_nama:userData.wilayah_nama}}</p>
                  </ion-label>
                </ion-chip>

                <ion-chip color="primary" *ngIf="userData.asManagement == '1' && userData.statusAsManagement == 'confirmed'">
                  <ion-label>
                    Pengurus <br>
                    <p>{{userData.placeManagement == 'daerah' ? userData.daerah_nama:userData.wilayah_nama}}</p>
                  </ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
        </div>

        <div style="position: relative; top: -110px;">
          <ion-card class="rounded-15" routerLink="/my-product">
            <ion-item lines="none" detail>
              <ion-icon slot="start" name="bag-handle-outline"></ion-icon>
              <ion-label>
                <h3>Produk Anda</h3>
              </ion-label>
            </ion-item>
          </ion-card>

          <ion-card class="rounded-15" routerLink="/my-pengajian">
            <ion-item lines="none" detail>
              <ion-icon slot="start" name="golf-outline"></ion-icon>
              <ion-label>
                <h3>Pengajian Saya</h3>
              </ion-label>
            </ion-item>
          </ion-card>

          <ion-card *ngIf="userData.role == 'superadmin'" class="rounded-15" routerLink="/banner" hidden>
            <ion-item lines="none" detail>
              <ion-icon slot="start" name="images-outline"></ion-icon>
              <ion-label>
                <h3>Banner</h3>
              </ion-label>
            </ion-item>
          </ion-card>

          <ion-card *ngIf="userData.role == 'superadmin'" class="rounded-15" routerLink="/my-video" hidden>
            <ion-item lines="none" detail>
              <ion-icon slot="start" name="videocam-outline"></ion-icon>
              <ion-label>
                <h3>Video</h3>
              </ion-label>
            </ion-item>
          </ion-card>

          <ion-card *ngIf="userData.role == 'superadmin' || userData.editor == 1" class="rounded-15" routerLink="/my-cr" hidden>
            <ion-item lines="none" detail>
              <ion-icon slot="start" name="sparkles-outline"></ion-icon>
              <ion-label>
                <h3>Cabang Ranting</h3>
              </ion-label>
            </ion-item>
          </ion-card>

          <ion-card *ngIf="userData.role == 'superadmin'" class="rounded-15" routerLink="/user-managements" detail hidden>
            <ion-item lines="none" detail>
              <ion-icon slot="start" name="people-outline"></ion-icon>
              <ion-label>
                <h3>Kelola Pengguna</h3>
              </ion-label>
            </ion-item>
          </ion-card>

          <ion-card class="rounded-15" routerLink="/change-password">
            <ion-item lines="none" detail>
              <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
              <ion-label>
                <h3>Ubah Kata Sandi</h3>
              </ion-label>
            </ion-item>
          </ion-card>

          <ion-card class="rounded-15" (click)="logout()">
            <ion-item lines="none" detail>
              <ion-icon color="danger" slot="start" name="exit-outline"></ion-icon>
              <ion-label>
                <h3>Keluar</h3>
              </ion-label>
            </ion-item>
          </ion-card>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-item lines="none">
    <ion-label class="ion-text-center">
      <ion-text color="primary">
        <p>Powered By: GKB PCM Gresik</p>
      </ion-text>
      <ion-text color="medium">
        Versi : {{infoApp.version == null ? '1.0.0':infoApp.version}}
      </ion-text>
    </ion-label>
  </ion-item>
</ion-footer>
