<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-row>
    <ion-col class="ion-text-center">
      <img src="./assets/icon/logo.svg" width="40%">
    </ion-col>
  </ion-row>


  <div id="content">
    <form [formGroup]="form">
      <ion-text color="medium">
        <p>Email / Nomor HP</p>
      </ion-text>
      <ion-item class="input">
        <ion-input formControlName="email" name="email" required type="text" placeholder="Masukan Email / Nomor HP"></ion-input>
      </ion-item>
      
      <div class="error-msg" *ngIf="form.controls.email.hasError('required') && form.controls.email.touched">
      Email / Nomor HP harus diisi!
      </div>
      <div class="error-msg" *ngIf="form.controls.email.errors?.email">
      Format Email salah!
      </div>
      <!-- <p *ngIf="submited == true && email.invalid" style="color: red;">Username / Email can not be empty</p> -->
  
      <ion-text color="medium">
        <p>Kata Sandi</p>
      </ion-text>
      <ion-item class="input">
        <ion-input formControlName="password" name="password" required type="{{type}}" placeholder="Masukan Kata Sandi"></ion-input>
        <ion-icon name="{{type == 'password' ? 'eye-outline':'eye-off-outline'}}" (click)="show()" slot="end" color="medium"></ion-icon>
      </ion-item>
      <div class="error-msg" *ngIf="form.controls.password.hasError('required') && form.controls.password.touched">
      Kata Sandi harus diisi!
      </div>
      <!-- <p *ngIf="submited == true && password.invalid" style="color: red;">Password can not be empty</p> -->
  
      <div style="display: flex;">
        <ion-button class="ion-text-capitalize" color="primary" fill="clear" size="small" (click)="modalForgot()">Lupa Kata Sandi</ion-button>
        <div style="flex-grow: 1;"></div>
        <ion-button class="ion-text-capitalize" color="primary" fill="clear" size="small" (click)="modalRegister()">Registrasi</ion-button>
      </div>
      <!-- <p *ngIf="invalid == true" style="color: red; text-align: center;">Invalid email or password</p> -->
  
      <ion-button color="primary" class="custom-button" [disabled]="loading" (click)="login()">
        {{loading ? 'Mohon Tunggu...':'Masuk'}}
      </ion-button>
    </form>
  </div>


</ion-content>
