<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Baca Pediamu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div padding>
          <h2>{{pediamuData.title}}</h2>
          <p>Oleh : {{pediamuData.user_name}}</p>
        </div>

        <img src="{{pediamuData.image == undefined || pediamuData.image == '' ? '../../../assets/imgs/no-product.png':(serverImg+pediamuData.image)}}" style="width: 100%">

        <div class="ion-padding">
          <p [innerHTML]="pediamuData.descriptions"></p>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>

    
</ion-content>
