<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Edit Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

            <ion-row>
              <ion-col class="ion-text-center">
                <img src="./assets/imgs/blank-profil.png" class="img-profil">
                <br>
                <ion-button fill="clear">
                  Ganti foto
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-text color="medium">Nama</ion-text>
            <ion-item lines="none" class="input">
              <ion-input></ion-input>
            </ion-item>

            <ion-text color="medium">Nomor HP</ion-text>
            <ion-item lines="none" class="input">
              <ion-input input="number"></ion-input>
            </ion-item>

            <ion-text color="medium">Alamat</ion-text>
            <ion-item lines="none" class="input">
              <ion-textarea  rows="4" cols="20"></ion-textarea>
            </ion-item>

            <div style="margin-top: 100px;"></div>

          <div class="footer">
            <ion-button color="primary" expand="block">
              Simpan
            </ion-button>
          </div>


      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
