<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center">Cabang Ranting</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/cabang-ranting/pencarian-cabangranting">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment mode="md" [(ngModel)]="defaultSegment">
      <ion-segment-button value="cabang">
        <ion-label>
          Cabang
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="ranting">
        <ion-label>
          Ranting
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div [ngSwitch]="defaultSegment">

          <!-- Segment Cabang-->
          <div *ngSwitchCase="'cabang'" >
            <div class="item-centered" *ngIf="!loading && listCabang.length == 0">
              <img src="./assets/icon/pencarian.svg">
              <ion-label>
                <p>Data tidak ditemukan</p>
              </ion-label>
            </div>
            <div *ngIf="!loading">
              <ion-item detail *ngFor="let n of listCabang" (click)="addCr(n.id)">
                <ion-thumbnail slot="start">
                  <img src="./assets/icon/cabang.svg">
                </ion-thumbnail>
                <ion-label>
                  <h3>{{n.name}}</h3>
                  <p>{{n.address}}</p>
                </ion-label>
              </ion-item>
            </div>
            <div *ngIf="loading">
              <ion-item detail *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
                <ion-thumbnail slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <h3><ion-skeleton-text animated></ion-skeleton-text></h3>
                  <p><ion-skeleton-text animated></ion-skeleton-text></p>
                </ion-label>
              </ion-item>
            </div>
          </div>
          <!-- End Segment Cabang-->


          <!-- Segment Ranting-->
          <div *ngSwitchCase="'ranting'" >
            <div class="item-centered" *ngIf="!loading && listRanting.length == 0">
              <img src="./assets/icon/pencarian.svg">
              <ion-label>
                <p>Data tidak ditemukan</p>
              </ion-label>
            </div>
            <div *ngIf="!loading">
              <ion-item detail *ngFor="let n of listRanting" (click)="addCr(n.id)">
                <ion-thumbnail slot="start">
                  <img src="./assets/icon/ranting.svg">
                </ion-thumbnail>
                <ion-label>
                  <h3>{{n.name}}</h3>
                  <p>{{n.address}}</p>
                </ion-label>
              </ion-item>
            </div>
            <div *ngIf="loading">
              <ion-item detail *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
                <ion-thumbnail slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                  <h3><ion-skeleton-text animated></ion-skeleton-text></h3>
                  <p><ion-skeleton-text animated></ion-skeleton-text></p>
                </ion-label>
              </ion-item>
            </div>
          </div>
          <!-- End Segment Ranting-->


        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div style="margin-top: 100px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addCr('0')">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
