<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><p class="ion-text-wrap">{{detailKhutbah.title}}</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div padding>
          <ion-badge mode="ios">Khutbah</ion-badge>
          <h2>{{detailKhutbah.title}}</h2>
          <ion-text color="medium">
            <p>Oleh : {{detailKhutbah.user_name}}</p>
          </ion-text>
        </div>

        <img src="{{detailKhutbah.image == undefined || detailKhutbah.image == '' ? '../../../assets/imgs/no-product.png':(serverImg+detailKhutbah.image)}}" style="width: 100%">

        <div class="ion-padding">
          <p [innerHTML]="detailKhutbah.descriptions">
            
          </p>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
