<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">
        <form [formGroup]="form">
          <ion-text color="medium">Nama</ion-text>
          <ion-item lines="none" class="input">
            <ion-input formControlName="name" name="name" required type="text" placeholder="Masukan Nama"></ion-input>
          </ion-item>
      
          <div class="error-msg" *ngIf="form.controls.name.hasError('required') && form.controls.name.touched">
          Nama harus diisi!
          </div>

          <ion-text color="medium">Email</ion-text>
          <ion-item lines="none" class="input">
            <ion-input formControlName="email" name="email" required type="email" email="true" placeholder="Masukan Email"></ion-input>
          </ion-item>
      
          <div class="error-msg" *ngIf="form.controls.email.hasError('required') && form.controls.email.touched">
          Email harus diisi!
          </div>
          <div class="error-msg" *ngIf="form.controls.email.errors?.email">
          Format Email salah!
          </div>

          <ion-text color="medium">Nomor Hp</ion-text>
          <ion-item lines="none" class="input">
            <ion-input formControlName="phone" minlength="10" maxlength="14" pattern="[0-9]*$" name="phone" required type="text" placeholder="Masukan Nomor HP, contoh:(62825623)"></ion-input>
          </ion-item>
          <div *ngIf="form.controls.phone.invalid && (form.controls.phone.dirty || form.controls.phone.touched)">
            <div class="error-msg" *ngIf="form.controls.phone.errors?.required">
              Nomor Hp harus diisi
            </div>
            <div class="error-msg" *ngIf="form.controls.phone.errors?.minlength || form.controls.phone.errors?.pattern">
              Minimal 10 digit
            </div>
            <div class="error-msg" *ngIf="form.controls.phone.errors?.maxlength || form.controls.phone.errors?.pattern">
              Nomor Hp hanya dapat berupa angka & Maksimal 14 angka
            </div>
          </div>

          <ion-text color="medium">Cabang (opsional) <ion-icon (click)="getListCabang()" name="refresh-outline"></ion-icon></ion-text>
          <div class="selectOptions">
            <ng-select formControlName="cabang" [searchable]="true" placeholder="Pilih Cabang"
              (change)="selectEvent($event)">
              <ng-option *ngFor="let data of listCabang" [value]="data.id">{{data.nama}}</ng-option>
            </ng-select>
            <ion-note style="font-style: italic;" *ngIf="gettingCabang">Mengambil data Cabang...</ion-note>
          </div>

          <ion-text color="medium">Ranting (opsional) <ion-icon (click)="getListRanting()" name="refresh-outline"></ion-icon></ion-text>
          <div class="selectOptions">
            <ng-select formControlName="ranting" [searchable]="true" placeholder="Pilih Ranting"
              (change)="selectEventRanting($event)">
              <ng-option *ngFor="let data of listRanting" [value]="data.id">{{data.nama}}</ng-option>
            </ng-select>
            <ion-note style="font-style: italic;" *ngIf="gettingRanting">Mengambil data Ranting...</ion-note>
          </div>

          <ion-text color="medium">Alamat</ion-text>
          <ion-item lines="none" class="input">
            <ion-textarea formControlName="address" name="address" required type="text" placeholder="Masukan Alamat" rows="4" cols="20"></ion-textarea>
          </ion-item>
      
          <div class="error-msg" *ngIf="form.controls.address.hasError('required') && form.controls.address.touched">
          Alamat harus diisi!
          </div>

          <ion-text color="medium">
            <p>Kata Sandi</p>
          </ion-text>
          <ion-item class="input">
            <ion-input type="{{type}}" formControlName="password" name="password" required placeholder="Masukan Kata Sandi" (ionChange)="checkMatch()"></ion-input>
            <ion-icon name="{{type == 'password' ? 'eye-outline':'eye-off-outline'}}" (click)="show()" slot="end" color="medium"></ion-icon>
          </ion-item>
          <div *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">
            <div class="error-msg" *ngIf="form.controls.password.errors?.required">
              Kata Sandi harus diisi!
            </div>
            <div class="error-msg" *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.pattern">
              Minimal 6 digit
            </div>
          </div>

          <ion-text color="medium">
            <p>Tulis Ulang Kata Sandi</p>
          </ion-text>
          <ion-item class="input">
            <ion-input type="{{type}}" formControlName="re_password" name="re_password" required placeholder="Masukan Kata Sandi Ulang" (ngModelChange)="checkMatch()"></ion-input>
            <ion-icon name="{{type == 'password' ? 'eye-outline':'eye-off-outline'}}" (click)="show()" slot="end" color="medium"></ion-icon>
          </ion-item>
          <div *ngIf="form.controls.re_password.invalid && (form.controls.re_password.dirty || form.controls.re_password.touched)">
            <div class="error-msg" *ngIf="form.controls.re_password.errors?.required">
              Konfirmasi Kata Sandi harus diisi!
            </div>
            <div class="error-msg" *ngIf="form.controls.re_password.errors?.minlength || form.controls.re_password.errors?.pattern">
              Minimal 6 digit
            </div>
          </div>

          <!-- <p *ngIf="match == false" style="color: red;">Confirmation Password not match!</p> -->

          <div style="margin-top: 100px;"></div>

          <div class="footer">
            <ion-button color="primary" expand="block" (click)="register()" [disabled]="loading">
              {{loading ? 'Mohon Tunggu...':'Registrasi'}}
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
