<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Perbarui Kata Sandi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col class="ion-text-center">
      <img src="./assets/icon/logo.svg" width="40%">
    </ion-col>
  </ion-row>

  <div id="content">

    <form [formGroup]="form">
      <ion-text color="medium">
        <p>Kata Sandi</p>
      </ion-text>
      <ion-item class="input">
        <ion-input type="{{type}}" formControlName="password" name="password" required placeholder="Masukan Kata Sandi" (ngModelChange)="checkMatch()"></ion-input>
        <ion-icon name="{{type == 'password' ? 'eye-outline':'eye-off-outline'}}" (click)="show()" slot="end" color="medium"></ion-icon>
      </ion-item>
      <div *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">
        <div class="error-msg" *ngIf="form.controls.password.errors?.required">
          Kata Sandi harus diisi!
        </div>
        <div class="error-msg" *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.pattern">
          Minimal 6 digit
        </div>
      </div>
  
      <ion-text color="medium">
        <p>Ulangi Kata Sandi</p>
      </ion-text>
      <ion-item class="input">
        <ion-input type="{{type}}" formControlName="password2" name="password2" required placeholder="Masukan Kata Sandi Ulang" (ngModelChange)="checkMatch()"></ion-input>
        <ion-icon name="{{type == 'password' ? 'eye-outline':'eye-off-outline'}}" (click)="show()" slot="end" color="medium"></ion-icon>
      </ion-item>
      <div *ngIf="form.controls.password2.invalid && (form.controls.password2.dirty || form.controls.password2.touched)">
        <div class="error-msg" *ngIf="form.controls.password2.errors?.required">
          Konfirmasi Kata Sandi harus diisi!
        </div>
        <div class="error-msg" *ngIf="form.controls.password2.errors?.minlength || form.controls.password2.errors?.pattern">
          Minimal 6 digit
        </div>
      </div>
  
      <ion-button color="primary" class="custom-button" [disabled]="loading" (click)="changePassword()">
        {{loading ? 'Mohon Tunggu...':'Perbarui'}}
      </ion-button>
    </form>
  </div>


</ion-content>
