<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center">Pengajian Saya</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" id="popover">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari Pengajian"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="ion-justify-content-center" *ngIf="!loading && listPengajian.length == 0">
      <ion-col size-md="6">
        <div class="item-centered">
          <img src="./assets/icon/pencarian.svg">
          <ion-label>
            <p>Data tidak ditemukan</p>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" *ngIf="!loading">
        <ion-item lines="none" detail class="list-custom" *ngFor="let n of listPengajian" [routerLink]="['/pengajian/tambah-pengajian', n.id]">
          <ion-label>
            <ion-chip *ngIf="n.verified == 0" color="danger">
              <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
              <ion-label>Data Belum di Verifikasi</ion-label>
            </ion-chip>
            <h3>{{n.name}}</h3>
            <ion-text color="medium">
              <p class="ion-text-wrap">Lokasi: {{n.location}}</p>
            </ion-text>
            <ion-text color="primary">
              <p class="ion-text-wrap">Dimulai {{n.datetime | date: 'dd MMMM yyyy'}} Pukul {{n.datetime | date: 'H:mm'}}</p>
            </ion-text>
            <ion-text color="medium" *ngIf="userData.role == 'superadmin'">
              <p class="text-elipsis">{{users[n.created_by] == undefined ? '':'Dibuat Oleh: '+users[n.created_by].name}}<p>
            </ion-text>
            <!-- <ion-badge color="{{n.status == 'soon' ? 'primary':'danger'}}">{{n.status == 'soon' ? 'Akan datang':'Selesai'}}</ion-badge> -->
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size-md="6" *ngIf="loading">
        <ion-item lines="none" detail class="list-custom" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
          <ion-label>
            <h3><ion-skeleton-text animated></ion-skeleton-text></h3>
            <ion-text color="medium">
              <p class="ion-text-wrap"><ion-skeleton-text animated></ion-skeleton-text></p>
            </ion-text>
            <ion-text color="primary">
              <p class="ion-text-wrap"><ion-skeleton-text animated></ion-skeleton-text></p>
            </ion-text>
            <p class="ion-text-wrap"><ion-skeleton-text animated></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="margin-top: 100px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/pengajian/tambah-pengajian/0']">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>



<ion-popover trigger="popover" [dismissOnSelect]="true" side="bottom" alignment="end">
  <ng-template>
    <ion-content>
      <ion-item lines="none" (click)="filterData('all')">
        <ion-label>
          <ion-text>
            Semua
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" (click)="filterData('soon')">
        <ion-label>
          <ion-text>
            Akan Datang
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" (click)="filterData('done')">
        <ion-label>
          <ion-text>
            Selesai
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-popover>
