<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img *ngIf="userData.role != 'superadmin'" src="{{data.ustadz_image == null ? '../../assets/icon/avatar_ustad.svg':serverImgUser+data.ustadz_image}}">
        <img *ngIf="userData.role == 'superadmin'" src="{{data.user_image == null ? '../../assets/icon/avatar_ustad.svg':serverImgUser+data.user_image}}">
      </ion-avatar>
      <ion-label>
          <h2 *ngIf="userData.role != 'superadmin'">{{data == null ? '':data.ustadz_name}}</h2>
          <h2 *ngIf="userData.role == 'superadmin'">{{data == null ? '':data.user_name}}</h2>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-padding">
        <ion-row *ngFor="let message of messagesList">
     
          <ion-col size="9" *ngIf="message.created_by !== userData.id" class="message other-message">
            <img *ngIf="message.image" src="{{serverImg+message.image}}" (click)="openImg(serverImg+message.image)"/>
            <span style="font-size: 15px;">{{ message.messages }}</span>
            <div class="time-other" style="text-align: right;">{{ message.created_at | date:'short' }}</div>
          </ion-col>
     
          <ion-col offset="3" size="9" *ngIf="message.created_by === userData.id" class="message my-message">
            <img *ngIf="message.image" src="{{serverImg+message.image}}" (click)="openImg(serverImg+message.image)"/>
            <span style="font-size: 15px;">{{ message.messages }}</span>
            <div class="time" style="text-align: right;">{{ message.created_at | date:'short' }}</div>
          </ion-col>

          <!-- bubble jika pesan terbalas -->
          <!-- <ion-col offset="3" size="9" class="message my-message">
            <ion-item class="terbalas" lines="none">
              <ion-thumbnail slot="start">
                <img src="../../../assets/imgs/no-image.png">
              </ion-thumbnail>
              <ion-label>
                <ion-text color="light">
                  <b>Nama Ustad</b>
                </ion-text>
                <p>Isi chatting yang dibalas</p>
              </ion-label>
            </ion-item>
            <img *ngIf="message.image" src="{{serverImg+message.image}}" (click)="openImg(serverImg+message.image)"/>
            <span style="font-size: 15px;">{{ message.messages }}</span>
            <div class="time" style="text-align: right;">{{ message.created_at | date:'short' }}</div>
          </ion-col> -->
     
        </ion-row>
      </ion-grid>

</ion-content>

<ion-footer>

  <div class="img-atch" lines="none" *ngIf="image != undefined">
    <img src="{{image}}" class="object-bg" style="height: 150px;"/>
  </div>

  <!-- <ion-item class="balas" lines="none">
    <ion-thumbnail slot="start">
      <img src="../../../assets/imgs/no-image.png">
    </ion-thumbnail>
    <ion-label>
      <ion-text color="primary">
        <b>Nama Ustad</b>
      </ion-text>
      <p>Isi chatting yang akan dibalas oleh ustad kita</p>
    </ion-label>
    <ion-button slot="end" fill="clear">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-item> -->

  <ion-toolbar>
        <ion-row no-padding align-items-center>
          <ion-col size="2">
            <ion-button fill="clear" (click)="lampiran()">
              <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <ion-textarea style="--padding-bottom: 0 !important;" autosize placeholder="Tulis Pertanyaan" maxRows="6" [(ngModel)]="newMsg"></ion-textarea>   
          </ion-col>
          <ion-col size="2">
            <ion-button *ngIf="image != undefined" color="primary" fill="clear" (click)="uploadPhoto()">
              <ion-icon name="send"></ion-icon>
            </ion-button>
            <ion-button *ngIf="image == undefined" color="primary" fill="clear" [disabled]="newMsg === ''" (click)="uploadPhoto()">
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
  </ion-toolbar>
</ion-footer>
