<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Khutbah</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 14px" mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari judul"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item detail *ngFor="let n of listKhutbahInfinite">
    <ion-grid>
      <ion-row class="ion-align-items-center" (click)="detail(n)">
        <ion-col size="4">
          <img src="{{n.image == undefined || n.image == '' ? '../../assets/imgs/no-product.png':(serverImg+n.image)}}" class="rounded-15 object-bg" style="height: 75px;">
        </ion-col>
        <ion-col size="8" class="ion-padding">
          <ion-label>
            <h3 class="ion-text-wrap">{{n.title}}</h3>
            <ion-text color="medium">
              <small class="fs-10">{{n.created_at | date: 'dd MMMM yyyy'}}</small>
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-grid *ngIf="listKhutbahInfinite.length == 0">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">
        <div class="item-centered">
          <img src="./assets/icon/pencarian.svg">
          <ion-label>
            <p>Data tidak ditemukan</p>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
