<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Video</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" showCancelButton="never" placeholder="Cari produk"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">
        <div style="margin-top: 20px;"></div>

        <ion-item detail>
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <img src="./assets/imgs/video.jpg" class="rounded-15 object-bg" style="height: 75px;">
            </ion-col>
            <ion-col size="8" class="ion-padding">
              <ion-label>
                <h2 class="ion-text-wrap">[Eksklusif] Tuntunan Dzikir Pagi dan Petang untuk Anda</h2>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item detail>
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <img src="./assets/imgs/video2.png" class="rounded-15 object-bg" style="height: 75px;">
            </ion-col>
            <ion-col size="8" class="ion-padding">
              <ion-label>
                <h2 class="ion-text-wrap">[Eksklusif] Tuntunan Dzikir Pagi dan Petang untuk Anda</h2>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
