<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Video</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari video"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">
        <div class="centered" *ngIf="listVideos.length == 0">
          <img src="./assets/icon/pencarian.svg">
          <ion-label>
            <p>Pencarian tidak ditemukan</p>
          </ion-label>
        </div>
        <div style="margin-top: 20px;"></div>

          <ion-item detail *ngFor="let n of listVideos" [routerLink]="['/video/detail-video', n.id]">
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <img src="{{n.image == undefined ? './assets/imgs/video.jpg':(serverImg+n.image)}}" class="rounded-15 object-bg" style="height: 75px;">
              </ion-col>
              <ion-col size="8" class="ion-padding">
                <ion-label>
                  <h2 class="ion-text-wrap">{{n.title}}</h2>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
