<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Tambah Peserta Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div class="ion-padding">
          <ion-text color="medium">Nama</ion-text>
          <ion-item lines="none" class="input">
            <ion-input [(ngModel)]="userData.name" required #name="ngModel" placeholder="Nama"></ion-input>
          </ion-item>
        </div>

        <ion-button class="ion-padding" color="primary" expand="block" [disabled]="name.invalid" (click)="simpan()">
          {{loading ? 'Mohon tunggu...':'Simpan'}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
