.card-action {
    position: relative;
    background: #FFFFFF;
    /* Drop Shadow Normal */
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 16px;
    height: 120px ;
  }
  
  .img-profil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }