<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Pencarian</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari nama cabang atau ranting"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">
        <div class="item-centered" *ngIf="!loading && listCr.length == 0">
          <img src="./assets/icon/pencarian.svg">
          <ion-label>
            <p>Pencarian tidak ditemukan</p>
          </ion-label>
        </div>

        <div *ngIf="!loading">
          <ion-item detail *ngFor="let n of listCr" [routerLink]="['/cabang-ranting/detail-cabang-ranting/'+n.category, n.id]">
            <ion-thumbnail slot="start">
              <img src="{{n.category == 'cabang' ? './assets/icon/cabang.svg':'./assets/icon/ranting.svg'}}">
            </ion-thumbnail>
            <ion-label>
              <h3>{{n.name}}</h3>
              <p>{{n.address}}</p>
            </ion-label>
          </ion-item>
        </div>

        <div *ngIf="loading">
          <ion-item detail *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3><ion-skeleton-text animated></ion-skeleton-text></h3>
              <p><ion-skeleton-text animated></ion-skeleton-text></p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
