<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><p>{{doaDzikirData.title}}</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div padding>
          <h2>{{doaDzikirData.title}}</h2>
          <ion-text color="medium" style="font-size: small;">
            <p>Oleh : {{doaDzikirData.user_name}} <ion-icon class="dot" name="ellipse"></ion-icon> {{doaDzikirData.created_at | date: 'dd MMMM yyyy HH:mm'}}</p>
          </ion-text>
        </div>

        <img src="{{doaDzikirData.image == undefined || doaDzikirData.image == '' ? '../../../assets/imgs/no-product.png':(serverImg+doaDzikirData.image)}}" style="width: 100%">

        <div class="ion-padding">
          <p [innerHTML]="doaDzikirData.descriptions"></p>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>

    
</ion-content>
