<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Baca Doa dan Dzikir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div padding>
          <h2>Judul Doa dan Dzikir</h2>
          <p>Oleh : Admin Salammu</p>
        </div>

        <img src="../../../assets/imgs/no-product.png" style="width: 100%">

        <div class="ion-padding">
          <p>Disini isi Doa dan Dzikir</p>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>

    
</ion-content>
