<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Video</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari Video"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center" *ngIf="!loading && listVideos.length == 0">
      <ion-col size-md="6">
        <div class="item-centered">
          <img src="./assets/icon/pencarian.svg">
          <ion-label>
            <p>Data tidak ditemukan</p>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" *ngIf="!loading">
        <div style="margin-top: 20px;"></div>

          <ion-item detail *ngFor="let n of listVideos" [routerLink]="['/video/tambah-video', n.id]">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="4">
                  <img src="{{n.image == undefined ? './assets/imgs/video.jpg':(serverImg+n.image)}}" class="rounded-15 object-bg" style="height: 75px;">
                </ion-col>
                <ion-col size="8" class="ion-padding">
                  <ion-label>
                    <h2 class="ion-text-wrap">{{n.title}}</h2>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
      </ion-col>
      <ion-col size-md="6" *ngIf="loading">
        <div style="margin-top: 20px;"></div>
        <ion-item detail *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3><ion-skeleton-text animated></ion-skeleton-text></h3>
            <ion-text color="medium">
              <p class="ion-text-wrap"><ion-skeleton-text animated></ion-skeleton-text></p>
            </ion-text>
            <ion-text color="primary">
              <p class="ion-text-wrap"><ion-skeleton-text animated></ion-skeleton-text></p>
            </ion-text>
            <p class="ion-text-wrap"><ion-skeleton-text animated></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="margin-top: 100px;"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/video/tambah-video/0']">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
