<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div class="ion-padding">

          <ion-text color="medium">Nama Produk</ion-text>
          <ion-item lines="none" class="input">
            <ion-input></ion-input>
          </ion-item>

          <ion-text color="medium">Harga</ion-text>
          <ion-item lines="none" class="input">
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-text color="medium">Deskripsi Produk</ion-text>
          <ion-item lines="none" class="input">
            <ion-textarea  rows="4" cols="20"></ion-textarea>
          </ion-item>

          <ion-text color="medium">Foto Produk</ion-text>
          <ion-row>
            <ion-col size="4" style="margin-right: 5px;">
              <img src="./assets/imgs/meja-set.jpg" style="width: 100%">
              <ion-button size="small" fill="clear" style="position: absolute;top: 0; right: 0;" color="danger" shape="rounded">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4" style="margin-right: 5px;">
              <img src="assets/imgs/add_image.png" style="width: 100%">
            </ion-col>
          </ion-row>

          <div style="margin-top: 100px;"></div>

          <div class="footer">
            <ion-button color="primary" expand="block">
              Simpan
            </ion-button>
          </div>


        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
