<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Detail Video</ion-title>
    <ion-buttons slot="end" *ngIf="userData != undefined">
      <ion-button *ngIf="userData.role == 'superadmin'" (click)="delete()" fill="clear">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-row>
      <ion-col class="ion-text-center" style="border: dashed 1px #40A083; border-radius: 10px;">
        <iframe width="auto" height="auto" 
          [src]="unSaveUrl(videoData.url)" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
      </ion-col>
    </ion-row>

    <ion-item lines="none">
      <ion-label>
        <h1 class="ion-text-wrap">
          {{videoData.title}}
        </h1>
        <p class="ion-text-wrap">
          {{videoData.descriptions}}
        </p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
