<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <ion-item lines="none">
      <ion-label>
        <h1 class="ion-text-wrap">
          [Eksklusif] Tuntunan Dzikir Pagi dan Petang untuk Anda
        </h1>
        <p class="ion-text-wrap">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, accusantium aspernatur. Officiis iure consectetur et est ducimus, recusandae deserunt libero incidunt porro error, natus architecto minus provident accusantium? Nam, assumenda.
        </p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
