<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Al-Quran</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" >
        <ion-icon slot="icon-only" name="bookmarks-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment mode="md" [(ngModel)]="defaultSegment">
      <ion-segment-button value="surah">
        <ion-label>
          Surah
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="juz">
        <ion-label>
          Juz
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div [ngSwitch]="defaultSegment">
          <!-- Segment surah-->
          <div *ngSwitchCase="'surah'" >
            <div style="margin-top: 10px;">
              <ion-toolbar class="fixed-top">
                <ion-searchbar mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari nama Surah"></ion-searchbar>
              </ion-toolbar>
            </div>

            <ion-list lines="full">
              <ion-item *ngFor="let n of surat" [routerLink]="['/al-quran/detail-surat', n.nomor]">
                <ion-label>
                  <h2>{{n.nomor}}. {{n.nama_latin}}</h2>
                  <ion-text color="warning">
                    <p>
                      {{n.tempat_turun}} - {{n.jumlah_ayat}} Ayat
                    </p>
                  </ion-text>
                </ion-label>
                <ion-label slot="end" color="primary">
                  <h1>
                    {{n.nama}}
                  </h1>
                </ion-label>
              </ion-item>
            </ion-list>

          </div>


          <!-- Segment juz-->
          <div *ngSwitchCase="'juz'" >
          </div>


        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
