.bg-card {
  background-image: url('../../assets/imgs/Banner\ 2.svg');
  border-radius: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-none {
  --background : none !important;
}