.text-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-slides{
      ion-slide{
        max-width: 100vw !important;
        max-height: 250px !important;
          img{
              width:100% !important;
              background-size: cover;
              object-fit: cover;
          }
      }

}
