<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>produkMU</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari produk"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">
        <div class="centered" *ngIf="listProducts.length == 0">
          <img src="./assets/icon/pencarian.svg">
          <ion-label>
            <p>Pencarian tidak ditemukan</p>
          </ion-label>
        </div>

        <ion-row class="ion-no-padding">
          <ion-col size="6" *ngFor="let n of listProducts">
            <ion-card class="rounded-15" [routerLink]="['/produk-mu/detail-produk', n.id]">
              <img src="{{n.images.length == 0 ? './assets/imgs/pisang-coklat.jpg':(serverImg+n.images[0])}}" class="object-bg" style="height: 150px;">
              <ion-card-content>
                <ion-label>
                  <ion-text color="primary">
                    <h2>{{n.name}}</h2>
                  </ion-text>
                  <ion-text color="medium">
                    <p class="text-elipsis">{{n.descriptions}}<p>
                  </ion-text>
                </ion-label>
                <h2 style="margin-top: 20px;">Rp.{{n.price | number:'1.0-0'}}</h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
