<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Pediamu</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 14px" mode="ios" showCancelButton="never" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari Pedia"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <ion-card *ngFor="let n of listPediamu" [routerLink]="['/detail-pediamu', n.id]" class="rounded-15">
          <div style="text-align: center;" >
            <img src="{{n.image == undefined || n.image == '' ? '../../assets/imgs/no-product.png':(serverImg+n.image)}}" />
          </div>
          <ion-card-header>
            <ion-card-subtitle>Oleh {{n.user_name}}</ion-card-subtitle>
            <ion-card-title>{{n.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{n.summary}}     
          </ion-card-content>
          <div class="ion-padding">
            <small> {{n.created_at | date:'dd MMMM yyyy'}} </small>
          </div>
        </ion-card>
        
        <div class="item-centered" *ngIf="!loading && listPediamu.length == 0">
          <img src="./assets/icon/pencarian.svg">
          <ion-label>
            <p>Data tidak ditemukan</p>
          </ion-label>
        </div>

        <div *ngIf="loading">
          <ion-card *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]" class="rounded-15">
            <div style="text-align: center;" >
              <ion-skeleton-text animated style="height: 100px;"></ion-skeleton-text>
            </div>
            <ion-card-header>
              <ion-card-subtitle><ion-skeleton-text animated></ion-skeleton-text></ion-card-subtitle>
              <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
            <div class="ion-padding">
              <small> <ion-skeleton-text animated></ion-skeleton-text> </small>
            </div>
          </ion-card>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
