<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Pediamu</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" showCancelButton="never" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari Pedia"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <ion-card *ngFor="let n of listPediamu" class="rounded-15">
          <ion-item lines="none" detail >
            <ion-thumbnail slot="start">
              <img src="{{n.image == undefined || n.image == '' ? '../../assets/imgs/no-product.png':(serverImg+n.image)}}">
            </ion-thumbnail>
            <ion-label>
              <ion-text color="primary">
                <h3>{{n.title}}</h3>
              </ion-text>
              <p>{{n.summary}}</p>
              <ion-text color="medium">
                <small class="fs-10">{{n.created_at | date:'dd MMMM yyyy'}}</small>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
