<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="full">
      <ion-label>
        <ion-text color="medium" class="judul">Rabu 15 Desember 2021</ion-text>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding" hidden>
    <img src="./assets/icon/no-pengajian.svg">
    <p>Upss, Tidak ada pengajian</p>
  </div>

    <ion-item lines="none" detail class="list-custom" (click)="detailPengajian()">
      <ion-label>
        <h3>Pengajian Rutin Cabang Adiwerna</h3>
        <ion-text color="medium">
          <p class="ion-text-wrap">Lokasi: Rumah Bapak Juwari RT13/RW02</p>
        </ion-text>
        <ion-text color="primary">
          <p>Dimulai Pukul 20.00</p>
        </ion-text>
      </ion-label>
    </ion-item>

</ion-content>
