<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{dataDaerah.nama}}</ion-title>
    <!-- Nama Wilayah ambil dari data wilayah yang dipilih -->
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 14px" mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari nama cabang"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="item-centered-sicara" *ngIf="!loading && listCabang.length == 0">
    <img src="./assets/icon/pencarian.svg">
    <ion-label>
      <p>Data tidak ditemukan</p>
    </ion-label>
  </div>

  <ion-accordion-group>
    <ion-accordion *ngFor="let n of listCabang; let idx=index" value="{{n.id}}">
      <ion-item slot="header" color="light">
        <ion-label>
          <h3>{{n.nama}}</h3>
          <p>{{n.listPRM.length}} Ranting</p>
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-item detail [routerLink]="['/sicara/cabang/', n.id]" color="medium">
          <ion-label>
            <p>Informasi Cabang</p>
          </ion-label>
        </ion-item>
        <ion-item class="fill-0" lines="none" *ngIf="loading">
          <ion-label>
            <ion-text color="light">
              <h1><ion-skeleton-text animated></ion-skeleton-text></h1>
              <p><ion-skeleton-text animated></ion-skeleton-text></p>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let c of n.listPRM" detail [routerLink]="['/sicara/ranting/', c.id]">
          <ion-label>
            <p>{{c.nama}}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
