ion-text {
  font-family: "Poppins-Regular" !important;
  font-weight: 400;
}

.date-title, ion-text {
  font-family: "Poppins-Regular" !important;
  font-weight: 400;
  text-align: center;
}
