<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{isCreated ? 'Tambah':'Perbarui'}} Video</ion-title>
    <ion-buttons slot="end" *ngIf="isCreated == false">
      <ion-button fill="clear" (click)="delete()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <ion-text color="medium">Judul Video</ion-text>
        <ion-item lines="none" class="input">
          <ion-input [(ngModel)]="videoData.title" required #title="ngModel" placeholder="Video title"></ion-input>
        </ion-item>

        <ion-text color="medium">Deskripsi Video</ion-text>
          <ion-item lines="none" class="input">
            <ion-textarea [(ngModel)]="videoData.descriptions" required #descriptions="ngModel" placeholder="Video descriptions" rows="4" cols="20"></ion-textarea>
          </ion-item>

        <ion-text color="medium">Url Video Youtube</ion-text>
        <ion-item lines="none" class="input">
          <ion-input [(ngModel)]="videoData.url" required #url="ngModel" placeholder="Video url"></ion-input>
        </ion-item>
        <ion-row style="margin-bottom: 16px;">
          <ion-col class="ion-text-center" style="border: dashed 1px #40A083; border-radius: 10px;">
            <img src="{{image == undefined ? imageNow:image}}"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center" style="border: dashed 1px #40A083; border-radius: 10px;" (click)="pilihFoto()">
            <ion-label>
              <ion-icon name="camera-outline" size="large" color="primary"></ion-icon>
              <ion-text color="primary">
                <p>
                  Foto Thumbnail
                </p>
              </ion-text>
            </ion-label>
          </ion-col>
        </ion-row>

        <div style="margin-top: 100px;"></div>

        <div class="footer">
          <ion-button color="primary" [disabled]="loading || title.invalid || url.invalid" (click)="uploadPhoto()" expand="block">
            {{loading ? 'Mohon tunggu...':'Simpan'}}
          </ion-button>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
