<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Ustadmu</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="filter()">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 14px" mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari Ustad"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let n of listUstadmu" detail (click)="detail(n)">
      <ion-avatar slot="start">
        <img src="{{n.image == undefined || n.image == '' ? '../../assets/icon/avatar_ustad.svg':(serverImg+n.image)}}">
      </ion-avatar>
      <ion-label>
        <h3>{{n.name}}</h3>
        <p>{{n.science_name}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
