<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Ustadmu</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="filter()">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 14px" mode="ios" showCancelButton="never" placeholder="Cari Ustad"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let n of [1,2,3,4,5]" detail routerLink="/detail-ustad">
      <ion-avatar slot="start">
        <img src="../../assets/icon/avatar_ustad.svg">
      </ion-avatar>
      <ion-label>
        <h3>Nama Ustad</h3>
        <p>Kepakaran</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
