<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="full" class="ion-padding">
        <ion-icon color="primary" slot="end" name="close-circle-outline" (click)="dismiss()"></ion-icon>
        <ion-label>
          <ion-text color="primary">
            <h2>Semua Menu</h2>
          </ion-text>
        </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="ion-text-center mb-16" routerLink="/pengajian" (click)="dismiss()">
        <img src="./assets/icon/pengajian.svg"/>
        <p class="fs-10" style="margin-top: -1px;">Pengajian</p>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16" routerLink="/jadwal-sholat" (click)="dismiss()">
        <img src="./assets/icon/jadwal-sholat.svg"/>
        <p class="fs-10" style="margin-top: -1px;">Jadwal Sholat</p>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16" routerLink="/video" (click)="dismiss()">
        <img src="./assets/icon/video.svg"/>
        <p class="fs-10" style="margin-top: -1px;">Video</p>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16" >
        <img src="./assets/icon/dzikir.svg"/>
        <p class="fs-10" style="margin-top: -1px;">Doa & Dzikir</p>
        <ion-chip color="danger" style="margin-top: -140px;">
          <ion-label class="fs-10">Segera</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16" routerLink="/artikel" (click)="dismiss()">
        <img src="./assets/icon/artikelmu.svg"/>
        <p class="fs-10" style="margin-top: -1px;">ArtikelMU</p>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16" routerLink="/pediamu" (click)="dismiss()">
        <img src="./assets/icon/tentangmu.svg"/>
        <p class="fs-10" style="margin-top: -1px;">PediaMU</p>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16" >
        <img src="./assets/icon/tanya-ustad.svg"/>
        <p class="fs-10" style="margin-top: -1px;">Tanya Ustadz</p>
        <ion-chip color="danger" style="margin-top: -140px;">
          <ion-label class="fs-10">Segera</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16">
        <img src="./assets/icon/al-quran.svg"/>
        <p class="fs-10" style="margin-top: -1px;">Al-Quran</p>
        <ion-chip color="danger" style="margin-top: -140px;">
          <ion-label class="fs-10">Segera</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16" >
        <img src="./assets/icon/ustadmu.svg"/>
        <p class="fs-10" style="margin-top: -1px;">UstadMU</p>
        <ion-chip color="danger" style="margin-top: -140px;">
          <ion-label class="fs-10">Segera</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16">
        <img src="./assets/icon/cabang-ranting.svg"/>
        <p class="fs-10" style="margin-top: -1px;">Cabang & Ranting</p>
        <ion-chip color="danger" style="margin-top: -140px;">
          <ion-label class="fs-10">Segera</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16" >
        <img src="./assets/icon/tvmu.svg"/>
        <p class="fs-10" style="margin-top: -1px;">TV MU</p>
        <ion-chip color="danger" style="margin-top: -140px;">
          <ion-label class="fs-10">Segera</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16" >
        <img src="./assets/icon/khutbah.svg"/>
        <p class="fs-10" style="margin-top: -1px;">Khutbah</p>
        <ion-chip color="danger" style="margin-top: -140px;">
          <ion-label class="fs-10">Segera</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="3" class="ion-text-center mb-16" >
        <img src="./assets/icon/radiomu.svg"/>
        <p class="fs-10" style="margin-top: -1px;">RadioMU</p>
        <ion-chip color="danger" style="margin-top: -140px;">
          <ion-label class="fs-10">Segera</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
