<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Wilayah & Daerah</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 14px" mode="ios" showCancelButton="never" placeholder="Cari Nama Wilayah atau Daerah"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item detail *ngFor="let n of ['PWM ACEH', 'PWM MEDAN', 'PWM JATENG']" [routerLink]="['/sicara/daerah']">
    <ion-thumbnail slot="start">
      <img src="./assets/icon/wilayah.svg">
    </ion-thumbnail>
    <ion-label>
      <h3>{{n}}</h3>
    </ion-label>
  </ion-item> -->

  <ion-accordion-group>
    <ion-accordion *ngFor="let n of [1,2,3,4,5,6]" value="{{n}}">
      <ion-item slot="header" color="light">
        <ion-label>
          <h3>Nama Wilayah</h3>
          <p>Jumlah Daerah</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item *ngFor="let n of [1,2,3,4,5,6]" detail [routerLink]="['/sicara/daerah']">
          <ion-label>
            <p>Nama Daerah</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
