<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Wilayah & Daerah</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 14px" mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari Nama Wilayah"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item detail *ngFor="let n of ['PWM ACEH', 'PWM MEDAN', 'PWM JATENG']" [routerLink]="['/sicara/daerah']">
    <ion-thumbnail slot="start">
      <img src="./assets/icon/wilayah.svg">
    </ion-thumbnail>
    <ion-label>
      <h3>{{n}}</h3>
    </ion-label>
  </ion-item> -->
  <div class="item-centered" *ngIf="!loading && listWilayah.length == 0">
    <img src="./assets/icon/pencarian.svg">
    <ion-label>
      <p>Data tidak ditemukan</p>
    </ion-label>
  </div>

  <ion-accordion-group>
    <ion-accordion *ngFor="let n of listWilayah" (click)="getChildDaerah(n)" value="{{n.id}}">
      <ion-item slot="header" color="light">
        <ion-label>
          <h3>{{n.nama}}</h3>
          <p>{{n.jumlah_pdm}}</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item *ngFor="let d of listDaerah" detail [routerLink]="['/sicara/daerah/', d.id]">
          <ion-label>
            <p>{{d.nama}}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
