<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Doa dan Dzikir</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar style="margin-top: 14px" mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"  placeholder="Cari Doa dan Dzikir"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <ion-card *ngFor="let n of listDoaDzikirInfinite" [routerLink]="['/detail-doa-dzikir', n.id]" class="rounded-15">
          <div style="text-align: center;" >
            <img src="{{n.image == undefined || n.image == '' ? '../../assets/imgs/no-product.png':(serverImg+n.image)}}" />
          </div>
          <ion-card-header>
            <ion-card-subtitle>Oleh : {{n.user_name}}</ion-card-subtitle>
            <ion-card-title>{{n.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{n.summary}}    
          </ion-card-content>
          <div class="ion-padding">
            <small> {{n.created_at | date:'dd MMMM yyyy'}}</small>
          </div>
        </ion-card>
        
        <div class="item-centered" *ngIf="!loading && listDoaDzikirInfinite.length == 0">
          <img src="./assets/icon/pencarian.svg">
          <ion-label>
            <p>Data tidak ditemukan</p>
          </ion-label>
        </div>

        <ion-row class="ion-no-padding" *ngIf="loading">
          <ion-col size="6" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
            <ion-card class="rounded-15">
              <ion-card-content>
                <ion-skeleton-text animated style="height: 60px;"></ion-skeleton-text>
                <ion-label>
                  <ion-text color="primary">
                    <h2><ion-skeleton-text animated></ion-skeleton-text></h2>
                  </ion-text>
                  <ion-text color="medium">
                    <p class="text-elipsis"><ion-skeleton-text animated></ion-skeleton-text><p>
                  </ion-text>
                </ion-label>
                <h2 style="margin-top: 20px;"><ion-skeleton-text animated></ion-skeleton-text></h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
