<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Detail {{crData.category == undefined ? '':crData.category}}</ion-title>
    <ion-buttons slot="end" *ngIf="userData != undefined">
      <ion-button *ngIf="userData.role == 'superadmin'" (click)="delete()" fill="clear">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <h4>{{crData.name}}</h4>
        <ion-text color="medium">
          <div [innerHTML]="crData.about"></div>
        </ion-text>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
