<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <h4>Cabang Cileungsi</h4>
        <ion-text color="medium">
          <p>
            Muhammadiyah pertama kali di Cileungsi berdiri dengan tingkat ranting pada tahun 1960 di desa atau kampung kaum. Kampung Kaum dan desa Cileungsi merupakan kampung tua peninggalan belanda dengan adanya nama kampung BPM (nama Belanda) yang sampai sekarang masih dipakai.namun sebelum berdiri ranting Muhammadiyah sesungguhnya sudah ada sejak tahun 1952 di kampung tengahn desa cileungsi
          </p>
        </ion-text>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
