<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Informasi Ranting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h3>{{dataRanting.nama}}</h3>
  <p [innerHTML]="dataRanting.deskripsi"></p>


  <ion-item lines="none">
    <ion-icon slot="start" name="location-outline"></ion-icon>
    <ion-label>
      <p class="ion-text-wrap">{{locationNow == undefined ? '':locationNow.display_name}}</p>
      <p class="ion-text-wrap" *ngIf="locationNow == undefined"><ion-skeleton-text animated></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
  
  <p class="ion-text-wrap" *ngIf="locationNow == undefined"><ion-skeleton-text animated style="height: 400px"></ion-skeleton-text></p>
  <div id="mapDetail" style="width: auto; height: 300px;"></div>
</ion-content>
