<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-row>
    <ion-col class="ion-text-center">
      <img src="./assets/icon/logo.svg" width="40%">
    </ion-col>
  </ion-row>


  <div id="content">

    <form [formGroup]="form">
      <ion-text color="dark">
        <p class="ion-text-center">Masukan email yang telah anda daftarkan pada Aplikasi, kami akan mengirimkan link kepada anda untuk mengatur ulang Kata Sandi</p>
      </ion-text>
  
  
      <ion-text color="medium">
        <p>Email</p>
      </ion-text>
      <ion-item class="input">
        <ion-input formControlName="email" name="email" required type="email" email="true" placeholder="contoh@gmail.com"></ion-input>
      </ion-item>
      
      <div class="error-msg" *ngIf="form.controls.email.hasError('required') && form.controls.email.touched">
      Email harus diisi!
      </div>
      <div class="error-msg" *ngIf="form.controls.email.errors?.email">
      Format Email salah!
      </div>
      
      <p *ngIf="submited == true && error != undefined" style="color: red;">Email is not registered!</p> 
  
      <ion-button color="primary" class="custom-button" [disabled]="loading" (click)="send()">
        {{loading ? 'Mohon Tunggu...':'Kirim'}}
      </ion-button>
    </form>
    </div>


</ion-content>
