<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><p>{{articles.title}}</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-content #content [scrollEvents]="true" (ionScroll)="scrolling($event)"> -->
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div padding>
          <ion-badge mode="ios">Artikel</ion-badge>
          <h2>{{articles.title}}</h2>
          <ion-text color="medium" style="font-size: small;">
            <p>Oleh : {{articles.user_name}} <ion-icon class="dot" name="ellipse"></ion-icon> {{articles.created_at | date: 'dd MMMM yyyy HH:mm'}}</p>
          </ion-text>
        </div>

        <img src="{{articles.image == undefined || articles.image == '' ? '../../../assets/imgs/no-product.png':(serverImg+articles.image)}}" style="width: 100%">

        <div class="ion-padding">
          <p [innerHTML]="articles.descriptions"></p>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="readContent()">
    <ion-fab-button>
      <ion-icon name="{{autoRead ? 'close-circle-outline':'chevron-down-circle-outline'}}"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
    
</ion-content>
