<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" routerLink="/home"></ion-back-button>
    <ion-title>NotulenMU</ion-title>
    <ion-buttons slot="end" *ngIf="isLoggedIn">
      <ion-button fill="clear" (click)="openModalInfo($event)">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-content>
          <h3 class="title" color="medium">Info</h3>
          <hr class="lines">
          <ion-item style="font-size: small;" lines="none">
            <ion-label style="font-size: small;">
              <h2 color="medium">Wilayah</h2>
              <p>{{dataLogin.wilayah_nama == null ? '-':dataLogin.wilayah_nama}}</p>
            </ion-label>
          </ion-item>
          <ion-item style="font-size: small;" lines="none">
            <ion-label style="font-size: small;">
              <h2 color="medium">Daerah</h2>
              <p>{{dataLogin.daerah_nama == null ? '-':dataLogin.daerah_nama}}</p>
            </ion-label>
          </ion-item>
          <ion-item style="font-size: small;" lines="none">
            <ion-label style="font-size: small;">
              <h2 color="medium">Cabang</h2>
              <p>{{dataLogin.cabang_nama == null ? '-':dataLogin.cabang_nama}}</p>
            </ion-label>
          </ion-item>
          <ion-item style="font-size: small;" lines="none">
            <ion-label style="font-size: small;">
              <h2 color="medium">Ranting</h2>
              <p>{{dataLogin.ranting_nama == null ? '-':dataLogin.ranting_nama}}</p>
            </ion-label>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div class="button">
          <ion-button class="btn-filter" *ngFor="let m of pilihanChip" color="{{m != selectedFilter ? 'light':'primary'}}" (click)="selectFilter(m)">
            {{m}}
            </ion-button>
        </div>
        
        <ion-searchbar style="margin-top: 14px" mode="ios" showCancelButton="never" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" placeholder="Cari Notulen"></ion-searchbar>

      
        <div class="item-centered-sicara" *ngIf="!loading && listNotulenmuInfinite.length == 0">
          <img src="./assets/imgs/blank-notulenmu.png">
        </div>

        <!-- <div class="item-centered-sicara" *ngIf="!loading && listNotulenmuInfinite.length == 0 && dataLogin.cabang_nama == null && dataLogin.ranting_nama == null">
          <img src="./assets/imgs/blank-notulenmu-tidakterdaftar.png">
        </div> -->

        <ion-list *ngIf="!loading && listNotulenmuInfinite.length > 0">
          <ion-item *ngFor="let n of listNotulenmuInfinite">
            <div class="container" slot="start" [routerLink]="['/notulenmu/detail-notulenmu', n.id]" routerLinkActive="router-link-active" >
              <img class="center-bg"src="../../assets/icon/list-notulenmu.svg">
            </div>
            <ion-label [routerLink]="['/notulenmu/detail-notulenmu', n.id]" routerLinkActive="router-link-active" >
              <h2>{{n.title}}</h2>
              <p>
                {{n.organization_type}} {{n.organization_nama}}
              </p>
              <ion-text color="medium">
                <p>
                  {{n.user_name}}
                </p>
              </ion-text>
            </ion-label>
            <ion-icon slot="end" name="ellipsis-horizontal-outline" (click)="openAction($event, n)"></ion-icon>
            <!-- <ion-note slot="end">
              {{n.created_at | date: 'HH:mm a'}}
              <ion-icon class="dot" name="ellipse"></ion-icon> 
              {{n.created_at | date: 'dd/MM/yy'}}
            </ion-note> -->
          </ion-item>
        </ion-list>

        <ion-popover #popoverAction [isOpen]="isOpenAction" (didDismiss)="isOpenAction = false">
          <ng-template>
            <ion-content>
              <ion-item (click)="detailNotulen()" style="font-size: small;" lines="none">
                <ion-label style="font-size: small;">
                  <h3 color="medium">Detail</h3>
                </ion-label>
              </ion-item>
              <ion-item (click)="perbaruiNotulen()" style="font-size: small;" lines="none">
                <ion-label style="font-size: small;">
                  <h3 color="medium">Perbarui</h3>
                </ion-label>
              </ion-item>
              <ion-item (click)="deleteNotulen()" style="font-size: small;" lines="none">
                <ion-label style="font-size: small;">
                  <h3 color="medium">Hapus</h3>
                </ion-label>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-popover>

        <ion-list *ngIf="loading">
          <ion-item *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
            <div class="container" slot="start" routerLinkActive="router-link-active" >
              <ion-skeleton-text animated style="height: 50px; width: 50px;"></ion-skeleton-text>
            </div>
            <ion-label outerLinkActive="router-link-active" >
              <h2><ion-skeleton-text animated></ion-skeleton-text></h2>
              <p>
                <ion-skeleton-text animated></ion-skeleton-text>
              </p>
              <ion-text color="medium">
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-text>
            </ion-label>
            <ion-skeleton-text slot="end" style="width: 20px;" animated></ion-skeleton-text>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="margin-top: 100px;"></div>

  <ion-fab *ngIf="isLoggedIn" vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/notulenmu/tambah-notulenmu/0']">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
