<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Detail Surat</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/al-quran">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="detailSurat != undefined">
    <ion-row class="ion-justify-content-center">
      <ion-button *ngIf="detailSurat.surat_sebelumnya != false" [routerLink]="['/al-quran/detail-surat', detailSurat.surat_sebelumnya.nomor]" style="position: sticky; margin-top: 85px;" fill="clear"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
      <ion-col size-md="6">
        <ion-list class="ion-padding" lines="none">
          <ion-item lines="none" class="list-custom">
            <ion-label>
              <h2>{{detailSurat.nama_latin}} - {{detailSurat.nama}}</h2>
              <ion-text color="medium" class="ion-text-wrap">
                Jumlah Ayat: {{detailSurat.jumlah_ayat}} / Arti: {{detailSurat.arti}}
              </ion-text>

              <!-- Button -->
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button [routerLink]="['/al-quran/tafsir-surat', detailSurat.nomor]" color="primary" expand="block"><ion-icon name="document-text-outline"></ion-icon> Lihat Tafsir</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button color="secondary" (click)="modalSurat(detailSurat)" expand="block"><ion-icon name="play-outline"></ion-icon> Putar Audio</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-button *ngIf="detailSurat.surat_selanjutnya != false" [routerLink]="['/al-quran/detail-surat', detailSurat.surat_selanjutnya.nomor]" style="position: sticky; margin-top: 85px;" fill="clear"><ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
    </ion-row>
  </ion-grid>

  <div *ngIf="detailSurat != undefined">
    <ion-card *ngFor="let s of detailSurat.ayat" class="card-surat ion-padding">
        <ion-item lines="none">
          <ion-label>
            <h3 class="ion-text-wrap">{{s.surah}}:{{s.nomor}}</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-text slot="end"><h3>{{s.ar}}</h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <div class="ion-text-wrap" [innerHTML]="s.tr"></div><br>
            <p class="ion-text-wrap">
              {{s.idn}}
            </p>
          </ion-label>
        </ion-item>
    </ion-card>
  </div>

  <div *ngIf="detailSurat == undefined">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="6">
          <ion-list class="ion-padding" lines="none">
            <ion-item lines="none" class="list-custom">
              <ion-label>
                <h2><ion-skeleton-text animated></ion-skeleton-text></h2>
                <ion-text color="medium" class="ion-text-wrap">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-text>
  
                <!-- Button -->
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-col>
                    <ion-col>
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
  
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngFor="let s of [1,2,3]" class="card-surat ion-padding">
        <ion-item lines="none">
          <ion-label>
            <h3 class="ion-text-wrap"><ion-skeleton-text animated></ion-skeleton-text></h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-text slot="end"><h3><ion-skeleton-text animated></ion-skeleton-text></h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <div class="ion-text-wrap"><ion-skeleton-text animated></ion-skeleton-text></div><br>
            <p class="ion-text-wrap">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
    </ion-card>
  </div>

</ion-content>
