.date-title, ion-text {
    font-family: "Poppins-Regular" !important;
    font-weight: 400;
    text-align: center;
  }
  
  .cal-cell{
      text-align:center;
      height:50px;
  }
  
  .cal-marker{
      height:2px;
      display:block;
      margin-top:3px;
  }
  .cal-date{
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
  }
  
  .cell-selected{
      background: var(--ion-color-primary);
    color: white;
    border-radius: 50%;
  }
  
  .bg-primary {
    background: var(--ion-color-primary);
    color: white;
  }
  
  .padding-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .list-custom {
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 16px;
  
  }
  
  .card-surat {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 1px #40A083;
  }


  .bg-card {
    background-image: url('../../../assets/imgs/bg-quran.svg');
    border-radius: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bg-none {
    --background : none !important;
  }

  .color-genap {
    --background: #40a0830d;
  }

  .color-ganjil {
    --background: #FFFFFF;
  }