<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Pengajian</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment mode="md" [(ngModel)]="defaultSegment">
      <ion-segment-button value="list">
        <ion-label>
          List
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="kalender">
        <ion-label>
          Kalender
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="map" (click)="generateMap()">
        <ion-label>
          Peta
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <div [ngSwitch]="defaultSegment">

          <!-- Segment List -->
          <div *ngSwitchCase="'list'" >
            <ion-list class="ion-padding">
              <ion-item lines="none" detail class="list-custom" *ngFor="let n of listPengajian" (click)="modalPeta(n)">
                <ion-label>
                  <h3>{{n.name}}</h3>
                  <ion-text color="medium" class="ion-text-wrap">
                    Lokasi: {{n.location}}
                  </ion-text>
                  <ion-text color="primary">
                    <p >{{n.datetime | date: 'dd MMMM yyyy'}} Pukul {{n.datetime | date: 'H:mm'}}</p>
                  </ion-text>
                </ion-label>
              </ion-item>
            </ion-list>

            <ion-grid *ngIf="listPengajian.length == 0">
              <ion-row class="ion-justify-content-center">
                <ion-col size-md="6">
                  <div class="item-centered">
                    <img src="./assets/icon/no-pengajian.svg">
                    <ion-label>
                      <p>Upss, Tidak ada pengajian</p>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <!-- End Segment List -->

          <!-- Segment kalender-->
          <div *ngSwitchCase="'kalender'" >
            <ion-toolbar>
              <ion-button slot="start" fill="clear" button-icon (click)="prev('monthly')">
              <ion-icon slot="icon-only" name="caret-back"></ion-icon>
              </ion-button>
              <ion-title class="date-title" *ngIf="selected != undefined">
                <ion-label>
                  <ion-text>
                    {{selected | date:'dd, MMM y'}}
                  </ion-text>
                  <ion-text color="medium">
                    <p class="fs-10 ion-no-padding" *ngIf="prayTime != undefined"> {{prayTime[dateToday-1].date.hijri.day}} {{prayTime[dateToday-1].date.hijri.month.en}} {{prayTime[dateToday-1].date.hijri.year}}</p>
                  </ion-text>
                </ion-label>
              </ion-title>
              <ion-title class="date-title" *ngIf="selected == undefined"><ion-skeleton-text animated></ion-skeleton-text></ion-title>
              <ion-button slot="end" fill="clear" button-icon (click)="next('monthly')">
              <ion-icon slot="icon-only" name="caret-forward"></ion-icon>
              </ion-button>
            </ion-toolbar>

            <ion-grid class="ion-no-padding">
              <ion-row style="margin-top: 16px;">
                <ion-col class="ion-text-center" *ngFor="let h of ['Min','Sen','Sel','Rab','Kam','Jum','Sab']">
                  <ion-text color="medium">
                    {{h}}
                  </ion-text>
                </ion-col>
              </ion-row>
              <div *ngIf="selected != undefined">
                <ion-row *ngFor="let m of week" class="ion-align-items-center">
                  <ion-col class="cal-cell" *ngFor="let n of [0,1,2,3,4,5,6]" [ngClass]="{'cell-selected':cellSelected[m+n]}" (click)="selectCell(m,n)">
                    <div *ngIf="cal[m][n]!=0" class="centered ion-padding">
                      <ion-text class="cal-date">{{cal[m][n]!=0 ? cal[m][n].tanggal : ''}}</ion-text><br>
                      <ion-icon *ngIf="dataPengajian[cal[m][n].tanggal] != undefined" name="ellipsis-horizontal-outline" color="{{cellSelected[m+n] ? '':'primary'}}"></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div *ngIf="selected == undefined">
                <ion-row *ngFor="let m of [0,1,2,3,4,5,6]" class="ion-align-items-center">
                  <ion-col class="cal-cell" *ngFor="let n of [0,1,2,3,4,5,6]" [ngClass]="{'cell-selected':cellSelected[m+n]}">
                    <div class="centered ion-padding">
                      <ion-text class="cal-date"><ion-skeleton-text animated></ion-skeleton-text></ion-text>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </div>
          <!-- End Segment kalender -->


          <!-- Segment Peta-->
          <div *ngSwitchCase="'map'" >
            <ion-row>
              <ion-col class="ion-text-center">
                <div id="mapPengajian" style="width: 100%; height: 100%; position:fixed" *ngIf="!loadingGetMap"></div>

                <!-- loading -->
                <p class="ion-text-wrap" *ngIf="loadingGetMap"><ion-skeleton-text animated style="height: 400px"></ion-skeleton-text></p>
              </ion-col>
            </ion-row>

          </div>
          <!-- End Segment Peta-->

        </div>




      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
