<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="ion-text-center">Jadwal Sholat</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" id="popover">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- harian -->
  <ion-toolbar color="primary" *ngIf="daily">
    <ion-button color="light" slot="start" fill="clear" button-icon (click)="prev('daily')">
    <ion-icon slot="icon-only" name="caret-back"></ion-icon>
    </ion-button>
    <ion-title class="date-title" *ngIf="selected == undefined"><ion-skeleton-text animated></ion-skeleton-text></ion-title>
    <ion-title class="date-title" *ngIf="selected != undefined">
      <ion-label>
        <ion-text>
          {{selected | date:'dd, MMM y'}}
        </ion-text>
        <ion-text *ngIf="prayTime != undefined">
          <p class="fs-10 ion-no-padding" *ngIf="prayTime[dateToday-1].date != undefined"> {{prayTime[dateToday-1].date.hijri.day}} {{prayTime[dateToday-1].date.hijri.month.en}} {{prayTime[dateToday-1].date.hijri.year}}</p>
        </ion-text>
      </ion-label>
    </ion-title>
    <!-- <ion-title class="date-title" *ngIf="selected != undefined">{{selected | date:'dd, MMM y'}}</ion-title>
    <p style="text-align: center;" *ngIf="selected != undefined && prayTime.length > 0">{{prayTime[dateToday-1].date.hijri.day}} {{prayTime[dateToday-1].date.hijri.month.en}} {{prayTime[dateToday-1].date.hijri.year}}</p> -->
    <ion-button color="light" slot="end" fill="clear" button-icon (click)="next('daily')">
    <ion-icon slot="icon-only" name="caret-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <!-- mingguan -->
  <ion-toolbar color="primary" *ngIf="weekly">
    <ion-button color="light" slot="start" fill="clear" button-icon (click)="prev('weekly')">
    <ion-icon slot="icon-only" name="caret-back"></ion-icon>
    </ion-button>
    <ion-title class="date-title" *ngIf="firstDateHeader == undefined"><ion-skeleton-text animated></ion-skeleton-text></ion-title>
    <ion-title class="date-title" *ngIf="timesSelected != undefined">{{firstDateHeader | date:'dd'}} - {{lastDateHeader | date:'dd'}} {{firstDateHeader | date:'MMMM yyyy'}}</ion-title>
    <ion-button color="light" slot="end" fill="clear" button-icon (click)="next('weekly')">
    <ion-icon slot="icon-only" name="caret-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <!-- bulanan ini -->
  <ion-toolbar color="primary" *ngIf="monthly">
    <ion-button color="light" slot="start" fill="clear" button-icon (click)="prev('monthly')">
      <ion-icon slot="icon-only" name="caret-back"></ion-icon>
    </ion-button>
    <ion-title class="date-title" *ngIf="firstDateHeader == undefined"><ion-skeleton-text animated></ion-skeleton-text></ion-title>
    <ion-title class="date-title" *ngIf="timesSelected != undefined">{{firstDateHeader | date:'MMMM yyyy'}}</ion-title>
    <ion-button color="light" slot="end" fill="clear" button-icon (click)="next('monthly')">
      <ion-icon slot="icon-only" name="caret-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-toolbar class="ion-no-padding" color="primary" *ngIf="monthly || weekly">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="6">
          <ion-row >
            <ion-col class="ion-text-center" *ngFor="let schedule of ['Tgl', 'Imsak', 'Subuh', 'Dhuhur', 'Ashar', 'Maghrib', 'Isya']">
              <ion-text class="fs-10">
                {{schedule}}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>





</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <ion-grid *ngIf="daily" class="ion-no-padding">
          <ion-row class="bg-primary padding-header">
            <ion-col class="ion-text-center" *ngFor="let h of ['Min','Sen','Sel','Rab','Kam','Jum','Sab']">
              <ion-text>
                {{h}}
              </ion-text>
            </ion-col>
          </ion-row>
          <div *ngIf="selected != undefined">
            <ion-row *ngFor="let m of week" class="ion-align-items-center">
              <ion-col class="cal-cell" *ngFor="let n of [0,1,2,3,4,5,6]" [ngClass]="{'cell-selected':cellSelected[m+n]}" (click)="selectCell(m,n)">
                <div *ngIf="cal[m][n]!=0" class="centered ion-padding">
                  <ion-text class="cal-date">{{cal[m][n]!=0 ? cal[m][n].tanggal : ''}}</ion-text>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="selected == undefined">
            <ion-row *ngFor="let m of [0,1,2,3,4,5,6]" class="ion-align-items-center">
              <ion-col class="cal-cell" *ngFor="let n of [0,1,2,3,4,5,6]" [ngClass]="{'cell-selected':cellSelected[m+n]}">
                <div class="centered ion-padding">
                  <ion-text class="cal-date"><ion-skeleton-text animated></ion-skeleton-text></ion-text>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>

        <ion-grid *ngIf="weekly" class="ion-no-padding">
          <ion-row class="ion-align-items-center" *ngFor="let n of timesSelected">
            <ion-col class="{{n.date.gregorian == today ? 'cal-cell bg-gray':'cal-cell cell-monthly'}}">
              <div class="centered">
                <ion-text class="cal-date fs-10">{{n.date.gregorian | date:'dd MMM yyyy'}}</ion-text>
              </div>
            </ion-col>
            <ion-col *ngFor="let t of n.timesParsed" class="{{n.date.gregorian == today ? 'cal-cell bg-gray':'cal-cell'}}">
              <div class="centered">
                <ion-text class="cal-date fs-10">{{t.time}}</ion-text>
              </div>
            </ion-col>
          </ion-row>
          <div *ngIf="timesSelected.length == 0">
            <ion-row class="ion-align-items-center" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
              <ion-col class="cal-cell bg-gray">
                <div class="centered">
                  <ion-text color="secondary" class="cal-date fs-10"><ion-skeleton-text animated></ion-skeleton-text></ion-text>
                </div>
              </ion-col>
              <ion-col class="cal-cell" *ngFor="let t of [1,2,3,4,5,6]">
                <div class="centered">
                  <ion-text color="medium" class="cal-date fs-10"><ion-skeleton-text animated></ion-skeleton-text></ion-text>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>


        <ion-grid *ngIf="monthly" class="ion-no-padding">

          <ion-row class="ion-align-items-center" *ngFor="let n of timesSelected">
            <ion-col class="{{n.date.readable == today ? 'cal-cell bg-gray':'cal-cell cell-monthly'}}">
              <div class="centered">
                <ion-text class="cal-date fs-10">{{n.date.readable | date:'dd MMM yyyy'}}</ion-text>
              </div>
            </ion-col>
            <ion-col *ngFor="let t of n.timesParsed" class="{{n.date.readable == today ? 'cal-cell bg-gray':'cal-cell'}}">
              <div class="centered">
                <ion-text class="cal-date fs-10">{{t.time}}</ion-text>
              </div>
            </ion-col>
          </ion-row>

          <div *ngIf="timesSelected.length == 0">
            <ion-row class="ion-align-items-center" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
              <ion-col class="cal-cell bg-gray">
                <div class="centered">
                  <ion-text color="secondary" class="cal-date fs-10"><ion-skeleton-text animated></ion-skeleton-text></ion-text>
                </div>
              </ion-col>
              <ion-col class="cal-cell" *ngFor="let t of [1,2,3,4,5,6]">
                <div class="centered">
                  <ion-text color="medium" class="cal-date fs-10"><ion-skeleton-text animated></ion-skeleton-text></ion-text>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-popover trigger="popover" [dismissOnSelect]="true" side="bottom" alignment="end">
  <ng-template>
    <ion-content>
      <ion-item lines="none" (click)="dailyShow()">
        <ion-label>
          <ion-text>
            Harian
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" (click)="weeklyShow()">
        <ion-label>
          <ion-text>
            Mingguan
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" (click)="monthlyShow()">
        <ion-label>
          <ion-text>
            Bulanan
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-popover>
