<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">
          <img src="./assets/imgs/bg-hero.svg" width="100%">
          <div class="top-left">
            <ion-button fill="clear" *ngIf="!loading" class="ion-text-wrap" [ngStyle]="{'width': address_display_name.length <= 10 ? '65%':'85%'}" color="light" (click)="openSettingLokasi()">
              <ion-icon slot="icon-only" name="location-outline"></ion-icon>
              <span style="text-align: left;" *ngIf="!loading">{{ address_display_name == undefined ? city : (address_display_name.length > 45 ? address_display_name.slice(0, 45) + '...' : address_display_name) }}</span>
            </ion-button>

            <ion-button fill="clear" *ngIf="loading" class="ion-text-wrap" color="light">
              <ion-icon slot="icon-only" name="location-outline"></ion-icon>
              <span style="text-align: left;">
                <ion-skeleton-text [animated]="true" style="width: 100px"></ion-skeleton-text>
              </span>
            </ion-button>
            <!-- <ion-item class="fill-0" lines="none" *ngIf="prayTime.meta != undefined">
              <ion-label>
                <ion-text color="light">
                  <p>{{prayTime.meta == undefined ? '':prayTime.meta.method.name}}</p>
                </ion-text>
              </ion-label>
            </ion-item> -->
            <ion-item class="fill-0" lines="none" *ngIf="nextTimeTimer != undefined && !loading">
              <ion-label>
                <ion-text color="light">
                  <h1>{{nextTime.title == undefined ? '':nextTime.title}}</h1>
                  <p>{{nextTimeTimer == undefined ? '':nextTimeTimer + ' lagi'}}</p>
                </ion-text>
              </ion-label>
            </ion-item>
            <ion-item class="fill-0" lines="none" *ngIf="loading">
              <ion-label>
                <ion-text color="light">
                  <h1><ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text></h1>
                  <p><ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text></p>
                </ion-text>
              </ion-label>
            </ion-item>
          </div>

          <div class="top-right" *ngIf="!loading">
            <ion-button fill="clear" color="light" size="large" (click)="modalLogin()">
              <ion-icon *ngIf="userData == undefined" style="font-size: 3rem;" slot="icon-only" name="person-circle"></ion-icon>
              <div *ngIf="userData != undefined">
                <ion-icon *ngIf="userData.image == null" style="font-size: 3rem;" slot="icon-only" name="person-circle"></ion-icon>
                <img *ngIf="userData.image != null" src="{{(serverImgProfil+userData.image)}}" class="img-profil">
              </div>
            </ion-button>
          </div>

          <!-- <div class="ion-padding" (click)="detailJadwal()"> -->
          <div class="ion-padding" *ngIf="configKeys['show_card_jadwal_sholat'] == '1'">
            <div class="info-jadwal">
              <ion-row style="border-bottom: 1px solid #F2F2F2;">
                <ion-col class="ion-text-center">
                  <ion-label *ngIf="timesToday != undefined">
                    <ion-text>
                      {{prayTime.date.readable | date: 'EEEE, dd MMMM yyyy' }}
                    </ion-text>
                    <ion-text color="medium">
                      <p>
                        {{prayTime.date.hijri.day}} {{prayTime.date.hijri.month.en}} {{prayTime.date.hijri.year}}
                      </p>

                      <!-- <p>{{dateHijri.tanggal}} {{dateHijri.namabulan}} {{dateHijri.tahun}}</p> -->
                    </ion-text>
                  </ion-label>
                  <ion-label *ngIf="timesToday == undefined">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="timesToday != undefined">
                <ion-col class="ion-text-center" *ngFor="let n of listTimes">
                  <ion-label class="fs-10">
                    <ion-text color="{{n.title_color}}">{{n.title}}</ion-text>
                    <ion-text color="{{n.time_color}}">
                      <p>{{n.time}}</p>
                    </ion-text>
                    <ion-text color="dark" *ngIf="timesToday == undefined">
                      <p><ion-skeleton-text animated></ion-skeleton-text></p>
                    </ion-text>
                  </ion-label>
                  <ion-label class="fs-10" *ngIf="timesToday == undefined">
                    <ion-text color="dark">
                      <p><ion-skeleton-text animated></ion-skeleton-text></p>
                    </ion-text>
                  </ion-label>
                </ion-col>

              </ion-row>
            </div>
          </div>

          <div class="container">
            <ion-slides pager="true" *ngIf="!loading && configKeys['show_banners'] == '1'" [options]="slideOpts" class="ion-padding" style="margin-top: 20px;">
              <ion-slide *ngFor="let n of listBanners">
                <a href="{{n.url}}">
                  <img src="{{n.image == undefined ? './assets/imgs/slide1.png':(serverImgBanner+n.image)}}" class="object-bg rounded-1" height="150">
                </a>
              </ion-slide>
            </ion-slides>

            <ion-slides pager="true" *ngIf="loading" [options]="slideOpts" class="ion-padding" style="margin-top: 20px; margin-bottom: 20px;">
              <ion-slide *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
                <ion-card style="width: 100%;">
                  <ion-card-content>
                    <ion-skeleton-text animated class="object-bg rounded-1" height="150"></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides>

            <!-- WargaMU -->
            <ion-item lines="none" *ngIf="configKeys['show_menu_pengajian'] == '1' || configKeys['show_menu_jadwalsholat'] == '1' ||
            configKeys['show_qibla_finder'] == '1' || configKeys['show_menu_video'] == '1' || 
            configKeys['show_menu_doadzikir'] == '1' || configKeys['show_menu_artikelmu'] == '1' || 
            configKeys['show_menu_pediamu'] == '1' || configKeys['show_menu_alquran'] == '1'">
              <ion-label>
                <h2>WargaMU</h2>
              </ion-label>
            </ion-item>
            <ion-grid *ngIf="configKeys['show_menu_pengajian'] == '1' || configKeys['show_menu_jadwalsholat'] == '1' ||
            configKeys['show_qibla_finder'] == '1' || configKeys['show_menu_video'] == '1' || 
            configKeys['show_menu_doadzikir'] == '1' || configKeys['show_menu_artikelmu'] == '1' || 
            configKeys['show_menu_pediamu'] == '1' || configKeys['show_menu_alquran'] == '1'">
              <ion-row>
                <ion-col *ngIf="configKeys['show_menu_pengajian'] == '1'" size="3" class="ion-text-center mb-16" routerLink="/pengajian">
                  <img src="./assets/icon/pengajian.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Pengajian</p>
                </ion-col>
                <ion-col *ngIf="configKeys['show_menu_jadwalsholat'] == '1'" size="3" class="ion-text-center mb-16" routerLink="/jadwal-sholat">
                  <img src="./assets/icon/jadwal-sholat.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Jadwal Sholat</p>
                </ion-col>
                <ion-col *ngIf="configKeys['show_qibla_finder'] == '1'" size="3" class="ion-text-center mb-16" routerLink="/qibla-finder">
                  <img src="./assets/icon/qibla-finder.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Qibla Finder</p>
                </ion-col>
                <ion-col *ngIf="configKeys['show_menu_video'] == '1'" size="3" class="ion-text-center mb-16" routerLink="/video">
                  <img src="./assets/icon/video.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Video</p>
                </ion-col>
                <ion-col *ngIf="configKeys['show_menu_doadzikir'] == '1'" size="3" class="ion-text-center mb-16" routerLink="/doa-dzikir">
                  <img src="./assets/icon/dzikir.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Doa & Dzikir</p>
                </ion-col>
                <ion-col *ngIf="configKeys['show_menu_artikelmu'] == '1'" size="3" class="ion-text-center mb-16" routerLink="/artikel">
                  <img src="./assets/icon/artikelmu.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">ArtikelMU</p>
                </ion-col>
                <ion-col *ngIf="configKeys['show_menu_pediamu'] == '1'" size="3" class="ion-text-center mb-16" routerLink="/pediamu">
                  <img src="./assets/icon/tentangmu.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">PediaMU</p>
                </ion-col>
                <ion-col *ngIf="configKeys['show_menu_alquran'] == '1'" size="3" class="ion-text-center mb-16" routerLink="/al-quran">
                  <img src="./assets/icon/al-quran.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Al-Quran</p>
                </ion-col>
                <ion-col size="3" class="ion-text-center mb-16" (click)="allMenu()">
                  <img src="./assets/icon/wrapper.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Semua</p>
                </ion-col>
              </ion-row>
            </ion-grid>

            <hr *ngIf="isVisible && configKeys['show_menu_notulenmu'] == '1' || configKeys['show_menu_cr'] == '1'" class="separator separator--line" />

            <!-- RantingMU -->
            <ion-item lines="none" *ngIf="isVisible && configKeys['show_menu_notulenmu'] == '1' || configKeys['show_menu_cr'] == '1'">
              <ion-label>
                <h2>Cabang RantingMU</h2>
              </ion-label>
            </ion-item>

            <ion-grid *ngIf="isVisible">
              <ion-row>
                <ion-col *ngIf="configKeys['show_menu_notulenmu'] == '1'" size="3" class="ion-text-center mb-16" routerLink="/notulenmu">
                  <img src="./assets/icon/notulenmu.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">NotulenMU</p>
                </ion-col>
                <ion-col *ngIf="configKeys['show_menu_cr'] == '1'" size="3" class="ion-text-center mb-16" routerLink="/sicara">
                  <img src="./assets/icon/cabang-ranting.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Cabang & Ranting</p>
                </ion-col>
              </ion-row>
            </ion-grid>

            <hr class="separator separator--line" />

            <!-- ProdukMU -->
            <ion-item lines="none">
              <ion-label>
                <h2>Rekomendasi ProdukMU</h2>
              </ion-label>
              <ion-chip color="primary" routerLink="/produk-mu">
                <ion-label>
                  Lihat Semua
                </ion-label>
              </ion-chip>
            </ion-item>

            <div class="pins" *ngIf="!loading">
              <ion-card *ngFor="let n of listProducts" class="rounded-15" [routerLink]="['/produk-mu/detail-produk', n.id]">
                <img src="{{n.images.length == 0 ? './assets/imgs/no-product.png':(serverImg+n.images[0])}}" class="object-bg" style="height: 150px;">
                <ion-card-content>
                  <ion-label>
                    <ion-text color="primary">
                      <h3>{{n.name}}</h3>
                    </ion-text>
                  </ion-label>
                  <h2 style="margin-top: 20px;">Rp.{{n.price | number:'1.0-0'}}</h2>
                </ion-card-content>
              </ion-card>
            </div>

            <ion-row class="ion-no-padding" *ngIf="loading">
              <ion-col size="6" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
                <ion-card class="rounded-15">
                  <ion-card-content>
                    <ion-skeleton-text animated style="height: 60px;"></ion-skeleton-text>
                    <ion-label>
                      <ion-text color="primary">
                        <h3><ion-skeleton-text animated></ion-skeleton-text></h3>
                      </ion-text>
                      <ion-text color="medium">
                        <p class="text-elipsis"><ion-skeleton-text animated></ion-skeleton-text><p>
                      </ion-text>
                    </ion-label>
                    <h2 style="margin-top: 20px;"><ion-skeleton-text animated></ion-skeleton-text></h2>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <!-- End ProdukMU -->

            <!-- Artikel Section -->
          <ion-item lines="none">
            <ion-label>
              <h2>Atikel Terbaru</h2>
            </ion-label>
            <ion-chip color="primary" routerLink="/artikel">
              <ion-label>
                Lihat Semua
              </ion-label>
            </ion-chip>
          </ion-item>
          <ion-item detail *ngFor="let n of listArticles" [routerLink]="['/detail-artikel', n.id]">
              <ion-thumbnail slot="start">
                <img class="rounded-15" src="{{n.image == undefined || n.image == '' ? '../../assets/imgs/no-product.png':(serverImgArticles+n.image)}}">
              </ion-thumbnail>
              <ion-label>
                <ion-text color="primary">
                  <h3 class="ion-text-wrap">{{n.title}}</h3>
                </ion-text>
                <ion-text color="medium">
                  <small class="fs-10">{{n.created_at | date:'dd MMMM yyyy'}}</small>
                </ion-text>
              </ion-label>
          </ion-item>
          <!-- End Artikel section -->

          <!-- Video Section -->
          <div style="margin-top: 16px;"></div>
          <ion-item lines="none">
            <ion-label>
              <h2>Video Terbaru</h2>
            </ion-label>
            <ion-chip color="primary" routerLink="/video">
              <ion-label>
                Lihat Semua
              </ion-label>
            </ion-chip>
          </ion-item>

          <ion-slides [options]="sliderOption" class="ion-padding">
            <ion-slide *ngFor="let n of listVideos" [routerLink]="['/video/detail-video', n.id]">
              <ion-card class="rounded-15">
                <img src="{{n.image == undefined || n.image == '' ? '../../assets/imgs/no-product.png':(serverImgVideos+n.image)}}" class="object-bg" style="height: 100px;">
                <ion-card-content>
                  <ion-card-title style="font-size: 12px">
                  <b class="ion-text-wrap">{{n.title}}</b>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
          <!-- End Video Section -->

          </div>

          


      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
