<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">
          <img src="./assets/imgs/bg-hero.svg" width="100%">
          <div class="top-left">
            <ion-button fill="clear" color="light">
              <ion-icon slot="icon-only" name="location-outline"></ion-icon>
              <span>Yogyakarta</span>
            </ion-button>
            <ion-item class="fill-0" lines="none" *ngIf="nextTimeTimer != undefined">
              <ion-label>
                <ion-text color="light">
                  <h1>{{nextTime.title == undefined ? '':nextTime.title}}</h1>
                  <p>{{nextTimeTimer == undefined ? '':nextTimeTimer + ' lagi'}}</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </div>

          <div class="top-right">
            <ion-button fill="clear" color="light" size="large" (click)="modalLogin()">
              <ion-icon style="font-size: 3rem;" slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
          </div>

          <div class="ion-padding">
            <div class="info-jadwal">
              <ion-row style="border-bottom: 1px solid #F2F2F2;">
                <ion-col class="ion-text-center">
                  <ion-label *ngIf="timesToday != undefined">
                    {{timesToday.date.gregorian | date: 'DDDD, dd MMMM yyyy' }}
                  </ion-label>
                  <ion-label *ngIf="timesToday == undefined">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="timesToday != undefined">
                <ion-col class="ion-text-center" *ngFor="let n of listTimes">
                  <ion-label class="fs-10">
                    <ion-text color="{{n.title_color}}">{{n.title}}</ion-text>
                    <ion-text color="{{n.time_color}}">
                      <p>{{n.time}}</p>
                    </ion-text>
                    <ion-text color="dark" *ngIf="timesToday == undefined">
                      <p><ion-skeleton-text animated></ion-skeleton-text></p>
                    </ion-text>
                  </ion-label>
                  <ion-label class="fs-10" *ngIf="timesToday == undefined">
                    <ion-text color="dark">
                      <p><ion-skeleton-text animated></ion-skeleton-text></p>
                    </ion-text>
                  </ion-label>
                </ion-col>
                
              </ion-row>
            </div>
          </div>

          <div class="container">
            <ion-slides pager="true" [options]="slideOpts" class="ion-padding" style="margin-top: 20px;">
              <ion-slide>
                <a href="https://muhammadiyah.or.id/">
                  <img src="./assets/imgs/slide1.png" class="object-bg rounded-1" height="150">
                </a>
              </ion-slide>
              <ion-slide>
                <a href="https://suaramuhammadiyah.id/">
                  <img src="./assets/imgs/slide2.png" class="object-bg rounded-1" height="150">
                </a>
              </ion-slide>
              <ion-slide>
                <a href="https://lazismu.org/">
                  <img src="./assets/imgs/slide3.png" class="object-bg rounded-1" height="150">
                </a>
              </ion-slide>
            </ion-slides>


            <ion-grid>
              <ion-row>
                <ion-col size="3" class="ion-text-center" routerLink="/pengajian">
                  <img src="./assets/icon/pengajian.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Pengajian</p>
                </ion-col>
                <ion-col size="3" class="ion-text-center" routerLink="/cabang-ranting">
                  <img src="./assets/icon/cabang-ranting.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Cabang dan Ranting</p>
                </ion-col>
                <ion-col size="3" class="ion-text-center" routerLink="/jadwal-sholat">
                  <img src="./assets/icon/jadwal-sholat.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Jadwal Sholat</p>
                </ion-col>
                <ion-col size="3" class="ion-text-center" routerLink="/video">
                  <img src="./assets/icon/video.svg"/>
                  <p class="fs-10" style="margin-top: -1px;">Video</p>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!-- ProdukMU -->
            <ion-item lines="none">
              <ion-label>
                <h2>ProdukMU</h2>
              </ion-label>
              <ion-chip color="primary" routerLink="/produk-mu">
                <ion-label>
                  Lihat Semua
                </ion-label>
              </ion-chip>
            </ion-item>

            <ion-row class="ion-no-padding">
              <ion-col size="6" *ngFor="let n of listProducts">
                <ion-card class="rounded-15" [routerLink]="['/produk-mu/detail-produk', n.id]">
                  <img src="{{n.images.length == 0 ? './assets/imgs/pisang-coklat.jpg':(serverImg+n.images[0])}}" class="object-bg" style="height: 150px;">
                  <ion-card-content>
                    <ion-label>
                      <ion-text color="primary">
                        <h2>{{n.name}}</h2>
                      </ion-text>
                      <ion-text color="medium">
                        <p class="text-elipsis">{{n.descriptions}}<p>
                      </ion-text>
                    </ion-label>
                    <h2 style="margin-top: 20px;">Rp.{{n.price | number:'1.0-0'}}</h2>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <!-- End ProdukMU -->
          </div>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
