<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Detail Pengajian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid class="ion-no-padding" *ngIf="pengajianData != undefined">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6">

        <h4>{{pengajianData.name}}</h4>
        <ion-text color="medium">
          <p>{{pengajianData.descriptions}}
          </p>
        </ion-text>
        <ion-item>
          <ion-icon slot="start" color="primary" name="calendar-outline"></ion-icon>
          <ion-label>
            <p class="ion-text-wrap">{{pengajianData.datetime | date:'dd MMMM yyyy'}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="primary" name="time-outline"></ion-icon>
          <ion-label>
            <p class="ion-text-wrap">Pukul : {{pengajianData.datetime | date:'HH:mm'}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="primary" name="home-outline"></ion-icon>
          <ion-label>
            <p class="ion-text-wrap">{{pengajianData.location}}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="pengajianData.pin != null">
          <ion-icon slot="start" color="primary" name="location-outline"></ion-icon>
          <ion-label>
            <ion-text color="primary">
              <p class="ion-text-wrap">{{locationNow == undefined ? '':locationNow.display_name}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
        <div id="mapDetail" style="width: 400px; height: 300px;"></div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
